<div class="center jumbotron">
  <h1>Baby App</h1>

  <h2>
    This is the homepage for the mothers or premothers to hang out together!
  </h2>
  
  <%= link_to "Sign up now!", "signup", class: "btn btn-lg btn-primary" %>
</div>
